# Case Study on Measures of Central Tendency and Dispersion
 An Institution wishes to find out their student’s ability in maths, reading and
writing skills. The Institution wants to do an exploratory study to check the
following information.
#### 1. Find out how many males and females participated in the test.
#### 2. What do you think about the students' parental level of education?
#### 3. Who scores the most on average for math, reading and writing based on
##### ● Gender
##### ● Test preparation course
#### 4. What do you think about the scoring variation for math, reading and writing based on
##### ● Gender
##### ● Test preparation course
#### 5. The management needs your help to give bonus points to the top 25% of students based on their maths score, so how will you help the management to achieve this.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
stud_data= pd.read_csv('StudentsPerformance.csv')

### 1. Find out how many males and females participated in the test.

In [3]:
male_stud = stud_data.loc[stud_data['gender'] == 'male'].count()
female_stud = stud_data.loc[stud_data['gender'] == 'female'].count()
print('No. of Male students =',male_stud['gender'])
print('No. of Female students =',female_stud['gender'])

No. of Male students = 482
No. of Female students = 518

#### Insight:
Here we can see there are 36 female students more than male students.

### 2. What do you think about the students' parental level of education?

In [4]:
parent_edu = stud_data["parental level of education"].value_counts()
parent_edu

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

#### Insights:
    From the above data we can conclude that almost 18% of the parents are either graduates or post-graduates
    The remaining 82% are educated upto college level but couldn't aquire a graduation.

### 3. Who scores the most on average for math, reading and writing based on
● Gender 

● Test preparation course

In [5]:

test_gender = stud_data.groupby('gender')['math score','reading score','writing score'].mean()
test_gender

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

#### Insights:
The average marks for math scored by male students are higher than female students.

The average marks for reading and writing scored by female students are higher than male students.

In [6]:
test_prep = stud_data.groupby('test preparation course')['math score','reading score','writing score'].mean()
test_prep

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

#### Insights:
The students who completed the course have a better average in all the tests.

### 4. What do you think about the scoring variation for math, reading and writing based on
● Gender

● Test preparation course

In [7]:
#test_gender = stud_data.groupby('gender')['math score','reading score','writing score'].var()
#test_gender
stud_data[['test preparation course',
      'gender',
      'math score',
      'writing score',
      'reading score']].groupby(['gender']).agg(['var','std'])

        math score            writing score            reading score  \
               var        std           var        std           var
gender
female  256.958593  16.029928    220.369327  14.844842    207.677438
male    211.889097  14.556411    202.413924  14.227225    200.211010


              std
gender
female  14.411018
male    14.149594

#### Insight:
    For male in all the 3 categories of 'math score','reading score','writing score' the standard deviation is more or less the same which is approx. equal to 14.
    For female there is a slight variation in the math score when compared to writing score and reading score.
        Hence we can say that the scores are consistant for male students.

In [8]:
#test_prep = stud_data.groupby('test preparation course')['math score','reading score','writing score'].var()
#test_prep
stud_data[['test preparation course',
      'gender',
      'math score',
      'writing score',
      'reading score']].groupby(['test preparation course']).agg(['var','std'])

                         math score            writing score             \
                                var        std           var        std
test preparation course
completed                210.884027  14.521847    175.202612  13.236412
none                     246.668662  15.705689    226.251739  15.041667

                        reading score
                                  var        std
test preparation course
completed                  183.265864  13.537572
none                       213.419851  14.608896

#### Insight:
For students who completed the course have lesser standard deviation in 3 categories of 'math score','reading score','writing score'.
For students who haven't completed have higher standard deviation and hence we can say that the scores are consistant for students who completed the course.

### 5. The management needs your help to give bonus points to the top 25% of students based on their maths score, so how will you help the management to achieve this.

In [9]:
math_sort= stud_data.sort_values(by=['math score'], ascending=False)
n = int(input('Enter the required percentage of students eligible for bonus points: '))
math_sort.head(int(len(math_sort)*(n/100)))

Enter the required percentage of students eligible for bonus points: 25

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
999,male,group E,bachelor's degree,standard,completed,100,100,100
996,male,group A,some college,standard,completed,100,96,86
515,female,group E,some college,standard,none,100,92,97
517,female,group E,associate's degree,standard,none,100,100,100
516,female,group E,bachelor's degree,standard,none,100,100,100
...,...,...,...,...,...,...,...,...
856,male,group E,some high school,standard,completed,77,76,77
855,male,group E,associate's degree,free/reduced,completed,77,69,68
854,male,group D,some high school,standard,completed,77,68,69
853,male,group D,associate's degree,free/reduced,none,77,78,73
852,male,group D,some college,free/reduced,none,77,62,64

#### Insights:
    Here we can see the top 25% students who are eligible for bonus points.
    We found that students who scored 77 and above are eligible.